<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * Rene Marco Gudmundsson Pozo
 * Lizbeth Zorca Montanio Colque gudmundsson.com.invoice.dao
 -->
<mapper namespace="gudmundsson.com.invoice.dao.MQueryMapper">
    <!-- Result Maps -->
    <resultMap id="ClientResultMap" type="gudmundsson.com.invoice.core.Client">
        <id     column="clie_client_id" 	  property="clientId" 	    javaType="string"/>
        <result column="clie_customer_type"   property="customerType"   javaType="string"/>
        <result column="clie_id_type"         property="idType"         javaType="string"/>
        <result column="clie_msisdn"          property="msisdn"         javaType="string"/>
        <result column="clie_activation_date" property="activationDate" javaType="java.sql.Date"/>
        <result column="clie_total_discount"  property="totalDiscount"  javaType="double"/>
    </resultMap>

    <resultMap id="InvoiceResultMap" type="gudmundsson.com.invoice.core.Invoice">
        <id     column="inv_invoice_id"     property="invoiceId"       javaType="string"/>
        <result column="inv_billing_period" property="billingPeriod"   javaType="string"/>
        <result column="inv_total_amount"   property="totalAmount"     javaType="double"/>
        <result column="inv_clie_client_id" property="client.clientId" javaType="string"/>
    </resultMap>

    <resultMap id="ServiceResultMap" type="gudmundsson.com.invoice.core.Service">
        <id     column="serv_service_id" 	 property="serviceId" 		javaType="string"/>
        <result column="serv_service_name" 	 property="serviceName"   	javaType="string"/>
        <result column="serv_service_amount" property="serviceAmount"    javaType="integer"/>
        <result column="serv_clie_client_id" property="client.clientId" 	javaType="string"/>
    </resultMap>

    <resultMap id="InvoiceServiceResultMap" type="gudmundsson.com.invoice.core.InvoiceService">
        <id     column="inse_inv_serv_id" 	  property="invservId"  		  javaType="string"/>
        <result column="inse_invo_invoice_id" property="invoice.invoiceId" javaType="string"/>
        <result column="inse_serv_service_id" property="service.serviceId" javaType="string"/>
    </resultMap>

    <!-- Queries -->
    
    <!-- Cliente By Id-->
    <select id="getClientById" resultMap="ClientResultMap">
        <![CDATA[
            SELECT *
              FROM client
        ]]>
        <where>
               AND clie_client_id = #{objectId}
        </where>
    </select>
    <!-- Cliente By Id Para el invoice es lo mismo sigues la logica de los dos querys-->
    <select id="getClientQuery" resultMap="ClientResultMap">
        <![CDATA[
            SELECT *
              FROM client
        ]]>
        <where>
               AND clie_customer_type = #{recordCustomerType}
               AND clie_id_type = #{recordIdType}
               AND clie_client_id = #{recordClientId}
        </where>
    </select>
    <!-- Cliente by customerType & idType -->
    <select id="getClientByCustomerTIdType" resultMap="ClientResultMap">
        <![CDATA[
            SELECT *
              FROM client
        ]]>
        <where>
               AND clie_customer_type = #{recordCustomerType}
               AND clie_id_type = #{recordIdType}
        </where>
    </select>
    <!-- Invoice  By clientId-->
    <select id="getInvoicesByClient" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT *
              FROM invoice
        ]]>
        <where>
               AND inv_clie_client_id = #{recordClientId}
               AND inv_billing_period = #{recordBillingPeriod}
        </where>
    </select>
     <!-- Invoice By Id-->
    <select id="getInvoiceById" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT *
              FROM invoice
        ]]>
        <where>
               AND inv_invoice_id = #{objectId}
        </where>
    </select>
    
     <!-- Invoice query que llama a lo que se require se fuciona para llamar parametros de las dos entidades incluido invoideId -->
    <select id="getInvoicesQuery" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT c.clie_customer_type, 
            	   c.clie_id_type, 
            	   c.clie_client_id, 
            	   i.inv_billing_period, 
            	   i.inv_invoice_id,
            	   i.inv_total_amount   
              FROM invoice i
              INNER JOIN client c ON c.clie_client_id = i.inv_clie_client_id
        ]]>
        <where>
			
               AND c.clie_customer_type = 'MOBILE'
            
            <if test="recordIdType != null">
               AND c.clie_id_type = #{recordIdType}
            </if>
            <if test="recordClientId != null">
               AND c.clie_client_id = #{recordClientId}
            </if>
            <if test="recordBillingPeriod != null">
               AND i.inv_billing_period = #{recordBillingPeriod}
            </if>
            <if test="recordInvoiceId != null and recordInvoiceId != ''">
               AND i.inv_invoice_id = #{recordInvoiceId}
            </if>
       
        </where>
    </select>
    
    <!-- Este es el query que no usara InvoiceId pero consumira por los otros parametros -->
    <select id="getInvoicesWithoutInvoiceId" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT c.clie_customer_type, 
            	   c.clie_id_type, 
            	   c.clie_client_id, 
            	   i.inv_billing_period, 
            	   i.inv_invoice_id   
              FROM invoice i
              INNER JOIN client c ON c.clie_client_id = i.inv_clie_client_id
        ]]>
        <where>
			
               AND c.clie_customer_type = 'MOBILE'
            
            <if test="recordIdType != null">
               AND c.clie_id_type = #{recordIdType}
            </if>
            <if test="recordClientId != null">
               AND c.clie_client_id = #{recordClientId}
            </if>
            <if test="recordBillingPeriod != null">
               AND i.inv_billing_period = #{recordBillingPeriod}
            </if>
        </where>
    </select>
   
    <!-- Este es el query que solo tiene customerType= MOBILE e invoiceId -->
    <select id="getInvByCustomerInvoiceId" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT c.clie_customer_type,  
            	   c.clie_client_id,
            	   i.inv_invoice_id
              FROM invoice i
              INNER JOIN client c ON c.clie_client_id = i.inv_clie_client_id
        ]]>
        <where>
			
               AND c.clie_customer_type = 'MOBILE'
            
            <if test="recordInvoiceId != null">
               AND i.inv_invoice_id = #{recordInvoiceId}
            </if>         
        </where>
    </select>
    <!-- Este es el query que filtrara por customerType= MOBILE, idType= DOCUMENT,  billingPeriod -->
     <!-- considerando el mejor d los casos que idType & billingPeriod son obligatorios y especificos -->
    <select id="getInvByCustomerIdTypeBillingP" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT c.clie_customer_type, 
            	   c.clie_id_type,            	     
            	   i.inv_billing_period            	     
              FROM invoice i
              INNER JOIN client c ON c.clie_client_id = i.inv_clie_client_id
        ]]>
        <where>
			<if test="recordCustomerType != null">
               AND c.clie_customer_type = #{recordCustomerType}
            </if>
            <if test="recordIdType != null">
               AND c.clie_id_type = #{recordIdType}
            </if>
            <if test="recordBillingPeriod != null">
               AND i.inv_billing_period = #{recordBillingPeriod}
            </if>
        </where>
    </select>
    
    <!-- Este es muy parecido solo que es de client nada mas con los parametros de customerType y idType Para MOBILE-->
    <select id="getClientByCustomerTypeIdTypeMOBILE" resultMap="ClientResultMap">
        <![CDATA[
            SELECT *
              FROM client
        ]]>
        <where>
               AND clie_customer_type = 'MOBILE'
              
            <if test="recordIdType != null">
               AND clie_id_type = #{recordIdType}
            </if>
        </where>
    </select>
    
    <!-- Este es muy parecido solo que es de client nada mas con los parametros de customerType y idType Para HOME-->
    <select id="getClientByCustomerTypeIdTypeHOME" resultMap="ClientResultMap">
        <![CDATA[
            SELECT *
              FROM client
        ]]>
        <where>
               AND clie_customer_type IN ('HOME', 'CONVERGENT')
              
            <if test="recordIdType != null">
               AND clie_id_type = #{recordIdType}
            </if>
        </where>
    </select>
    
    <!-- Este query obtiene un invoice segun customerType, idType, billingPeriod & invoiceId-->
    <select id="getInvByCustomerIdTypeBillingInvoiceId" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT c.clie_customer_type, 
            	   c.clie_id_type,
            	   c.clie_msisdn,  
            	   i.inv_billing_period, 
            	   i.inv_invoice_id   
              FROM invoice i
              INNER JOIN client c ON c.clie_client_id = i.inv_clie_client_id
        ]]>
        <where>
               AND c.clie_customer_type = 'HOME'
            
            <if test="recordIdType != null">
               AND c.clie_id_type = #{recordIdType}
            </if>
            <if test="recordBillingPeriod != null">
               AND i.inv_billing_period = #{recordBillingPeriod}
            </if>
            <if test="recordInvoiceId != null">
               AND i.inv_invoice_id = #{recordInvoiceId}
            </if>
        </where>
    </select>
    
     <!-- Service By Id-->
    <select id="getServiceById" resultMap="ServiceResultMap">
        <![CDATA[
            SELECT *
              FROM service
        ]]>
        <where>
               AND serv_service_id = #{objectId}
        </where>
    </select>
    
     <!-- Inv_Serv By Id-->
    <select id="getInvSerById" resultMap="InvoiceServiceResultMap">
        <![CDATA[
            SELECT *
              FROM invoice_service
        ]]>
        <where>
               AND inse_inv_serv_id = #{objectId}
        </where>
    </select>
    
     <!-- Cliente All-->
    <select id="getAllClients" resultMap="ClientResultMap">
        <![CDATA[
            SELECT *
              FROM (
        ]]>
        <include refid="sqlGetAllClients"/>
        <![CDATA[
                   ) AS records
          ORDER BY clie_client_id
        ]]>
        <if test="limit != null">
             LIMIT ${limit} OFFSET ${offset}
        </if>
    </select>
  
	<sql id="sqlGetAllClients">
        <![CDATA[
            SELECT *
              FROM client
        ]]>
        <where>
			<if test="recordCustomerType != null">
               AND clie_customer_type = #{recordCustomerType}
            </if>
            <if test="recordIdType != null">
               AND clie_id_type = #{recordIdType}
            </if>
            <if test="recordMsisdn != null">
               AND clie_msisdn = #{recordMsisdn}
            </if>
            <if test="recordActivationDate != null">
               AND clie_activation_date = #{recordActivationDate}
            </if>
            <if test="recordTotalDiscount != null">
               AND clie_total_discount = #{recordTotalDiscount}
            </if>
        </where>
    </sql>
    
    <!-- Invoice All-->
    <select id="getAllInvoices" resultMap="InvoiceResultMap">
        <![CDATA[
            SELECT *
              FROM (
        ]]>
        <include refid="sqlGetAllInvoices"/>
        <![CDATA[
                   ) AS records
          ORDER BY inv_invoice_id
        ]]>
        <if test="limit != null">
             LIMIT ${limit} OFFSET ${offset}
        </if>
    </select>
  
	<sql id="sqlGetAllInvoices">
        <![CDATA[
            SELECT *
              FROM invoice
        ]]>
        <where>
			<if test="recordBillingPeriod != null">
               AND inv_billing_period = #{recordBillingPeriod}
            </if>
            <if test="recordTotalAmount != null">
               AND inv_total_amount = #{recordTotalAmount}
            </if>
            <if test="recordClientId != null">
               AND inv_clie_client_id = #{recordClientId}
            </if>
        </where>
    </sql>
    
    <!-- Service All-->
    <select id="getAllServices" resultMap="ServiceResultMap">
        <![CDATA[
            SELECT *
              FROM (
        ]]>
        <include refid="sqlGetAllServices"/>
        <![CDATA[
                   ) AS records
          ORDER BY serv_service_id
        ]]>
        <if test="limit != null">
             LIMIT ${limit} OFFSET ${offset}
        </if>
    </select>
  
	<sql id="sqlGetAllServices">
        <![CDATA[
            SELECT *
              FROM service
        ]]>
        <where>
			<if test="recordName != null">
               AND serv_service_name = #{recordName}
            </if>
            <if test="recordAmount != null">
               AND serv_service_amount = #{recordAmount}
            </if>
            <if test="recordClientId != null">
               AND serv_clie_client_id = #{recordClientId}
            </if>
        </where>
    </sql>
    
    <select id="getAllInvoServ" resultMap="InvoiceServiceResultMap">
        <![CDATA[
            SELECT *
              FROM (
        ]]>
        <include refid="sqlGetAllInvoServ"/>
        <![CDATA[
                   ) AS records
          ORDER BY inse_inv_serv_id
        ]]>
        <if test="limit != null">
             LIMIT ${limit} OFFSET ${offset}
        </if>
    </select>
  
	<sql id="sqlGetAllInvoServ">
        <![CDATA[
            SELECT *
              FROM invoice_service
        ]]>
        <where>
			<if test="recordInvoiceId != null">
               AND inse_invo_invoice_id = #{recordInvoiceId}
            </if>
            <if test="recordServiceId != null">
               AND inse_serv_service_id = #{recordServiceId}
            </if>          
        </where>
    </sql>
    
</mapper> 