<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
 * Rene Marco Gudmundsson Pozo
 * Lizbeth Zorca Montanio Colque
 -->
<mapper namespace="gudmundsson.com.invoice.dao.MClientMapper">
    <!-- Result Maps -->
    <resultMap id="ClientResultMap" type="gudmundsson.com.invoice.core.Client">
        <id     column="clientId" 		property="clientId" 	  javaType="string"/>
        <result column="customerType"   property="customerType"   javaType="string"/>
        <result column="idType"         property="idType"         javaType="string"/>
        <result column="msisdn"         property="msisdn"         javaType="string"/>
        <result column="activationDate" property="activationDate" javaType="java.sql.Date"/>
        <result column="totalDiscount"  property="totalDiscount"  javaType="float"/>
    </resultMap>

    <resultMap id="InvoiceResultMap" type="gudmundsson.com.invoice.core.Invoice">
        <id     column="invoiceId"     property="invoiceId"       javaType="string"/>
        <result column="billingPeriod" property="billingPeriod"   javaType="string"/>
        <result column="totalAmount"   property="totalAmount"     javaType="float"/>
        <result column="clie_clientId" property="client.clientId" javaType="string"/>
    </resultMap>

    <resultMap id="ServiceResultMap" type="gudmundsson.com.invoice.core.Service">
        <id     column="serviceId" 		property="serviceId" 		javaType="string"/>
        <result column="serviceName" 	property="serviceName"   	javaType="string"/>
        <result column="serviceAmount"  property="serviceAmount"    javaType="integer"/>
        <result column="clie_clientId" 	property="client.clientId" 	javaType="string"/>
    </resultMap>

    <resultMap id="InvoiceServiceResultMap" type="gudmundsson.com.invoice.core.InvoiceService">
        <id     column="inv_serv_id" 	property="invservId"  		 javaType="string"/>
        <result column="invo_invoiceId" property="invoice.invoiceId" javaType="int"/>
        <result column="serv_serviceId" property="service.serviceId" javaType="int"/>
    </resultMap>

    <!-- Queries -->
    

</mapper> 